
/* body { margin:0; position:fixed; top:0; right:0; bottom:0; left:0; }
    
body {
  font-family: monospace;
}

.y-axis line{
  stroke: black;
}

.annual-growth {
  fill: black;
}

.bar-label, .x-axis {
  font-size: 8px;
}

.domain, .tick line {
  opacity: 0.5;
} */







svg {
    font: 10px sans-serif;
    padding: 5px;
}
body {
    margin: 5px;
    position: fixed;
}
.bar {
    outline: 5px blue;
}
.bar-label {
    font-size: 8px;
}

.y-axis line{
    stroke: rgb(155, 155, 155);
}

.x-axis line {
    stroke: rgb(155, 155, 155);
}


.frame {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}
.domain {
    stroke: rgb(155, 155, 155);
}
.tick line {
    stroke: rgb(155, 155, 155);
}
.tick text {
    fill: #8E8883;
    font-size: 8pt;
    font-family: sans-serif;
}
.legend-tick line {
    stroke: rgb(155, 155, 155);
    stroke-width: 1.5px;
}
.legend-title {
    font-size: 9ptx;
}
.legend-label {
    font-size: 7ptx;
    color:  rgb(155, 155, 155);
    text-align: right;
}
.title {
    text-anchor: middle;
    font-size: 18px;
    text-decoration: underline;
}
.x-axis-label {
    fill: #635F5D;
    font-size: 11pt;
    font-family: sans-serif;
}
.y-axis-label {
    fill: #635F5D;
    font-size: 11pt;
    font-family: sans-serif;
    transform: rotate(-90deg);
}